# The following dependencies are used when running the app on a local machine (localhost) for development/testing.
# Uncomment them if you are running the app locally and delete runtime.txt.

# flask
# sentence-transformers
# scikit-learn
# pdfminer.six
# python-docx
# pandas
# werkzeug
# transformers
# requests
# python-dotenv
# google-generativeai




# The following dependencies are used when running the app in Railway / production deployment.
# comment these if you are running the app locally.

--extra-index-url https://download.pytorch.org/whl/cpu

numpy<2.0
torch==2.1.2+cpu
sentence-transformers==2.7.0
transformers==4.39.3

flask
scikit-learn
pdfminer.six
python-docx
pandas
werkzeug
requests
python-dotenv
google-generativeai
